/* ==========================================================================
Main page styles
========================================================================== */

.search-bar {
  padding-bottom: 5px;
  border-radius: 0px;
}

search-input {
  border-radius: 0px;
}
